<div class="edit-content-main">

    <div class="edit-content">
        <div class="edit-header">
            <h3>Hesab idaresi </h3>
        </div>
        <div class="left-edit">
            <div class="edit-inputs">
                <form action="">
                    <div class="input-field">
                        <label for="storeName">Istifadeci adi : </label>
                        <input name="storeName" disabled value="@ViewBag.User.Name" type="text">
                    </div>

                    <div class="input-field">
                        <label for="storeNumber">Nomre : </label>
                        <input name="storeNumber" disabled value="@ViewBag.User.PhoneNumber" type="text">
                    </div>

                    <div class="input-field">
                        <label for="storeEmail">Email : </label>
                        <input class="storeEmail" value="@ViewBag.User.Email" disabled type="text">
                    </div>

                </form>
            </div>

        </div>
        <div class="right-edit">
            <div class="edit-image">
                <img class="user-image-edit" src="../../Main/images/asist-imgs/pngwing.com (18).png" alt="">
            </div>
        </div>
    </div>




</div>