@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Main/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Main/global.css">
    <!-- <link rel="stylesheet" href="~/Main/search.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Əsas Səhifə | Qızılımaz-da elan yerləşdirib, paylaşa bilərsiniz">
    <meta name="keywords" content="Qizilim.az,Əsas Səhifə">
    @*<!- Open Graph data->*@
    <meta property="og:title" content="Qızılım.az" />
    <meta property="og:description" content="Əsas Səhifə | Qızılımaz-da elan yerləşdirib, paylaşa bilərsiniz" />
    <title>Qızılım.az</title>
    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight&family=Raleway:ital,wght@0,800;1,300&family=Ubuntu:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    



    <div class="verify-store">
        <h3>
            Qeydiyyat istəyiniz qəbul olunmamışdır!
        </h3>
        <div class="clock-img">
            
            <img class="waiting-clock" style="width: 300px !important; height: 300px !important;" src="~/photouploads/images/1462226.png" alt="">
        </div>
        <a class="back-main-page" asp-controller="account" asp-action="signout">
            <button>
                Ana səhifəyə geri dön
            </button>
        </a>

    </div>







    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Main/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Index Js-->
    <!--<script src="~/Main/global.js"></script>-->
    <!-- Parcalanmish Js-->
    <script src="~/Main/JS files/filterShower.js"></script>
    <script src="~/Main/JS files/hamburgerMenu.js"></script>
    <script src="~/Main/JS files/Carousel.js"></script>
    <script src="~/Main/JS files/someDetails.js"></script>
    <script src="~/Main/JS files/removeEntity.js"></script>
    <script src="~/Main/JS files/be-premium.js"></script>
    <script src="~/Main/JS files/productCarousel.js"></script>


    
</body>

</html>

