@model AdvertisementViewModel


@section css {
    <style>
        .ck-content {
            min-height: 250px;
        }

        .photo-viewer {
            width: 940px;
            min-height: 250px;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-image: url('/photouploads/images/file-upload.jpg');
            cursor: pointer;
        }

        #file {
            display: none;
        }
    </style>
}

<h1>Create</h1>

<h4>Sekil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label for="file1" class="control-label">Sekil</label>
            <div class="form-group">
                <label class="photo-viewer" id="file-viewer" for="file" class="control-label"></label>
                <input name="file" id="file" type="file" class="form-control" onchange="readFile(this)" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section js {
    <script>
        function readFile(input) {
            let file = input.files[0];

            let reader = new FileReader();

            reader.onload = function () {
                console.log(reader.result);

                $('#file-viewer').css('background-image', `url(${reader.result})`);
            };

            reader.onerror = function () {
                console.log(reader.error);
            };

            reader.readAsDataURL(file);

        }
    </script>
}