
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ajax -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Main/global.css">
    <!-- <link rel="stylesheet" href="~/Main/search.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qızılım.az</title>
    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight&family=Raleway:ital,wght@0,800;1,300&family=Ubuntu:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="~/Main/swiper/swiper-bundle.min.css">
</head>

<body>



    @RenderBody()


    <footer>
        <div class="row primary">
            <div class="column about">

                <h3>Foolish Developer</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                    voluptatem corporis error non,
                </p>

                <div class="social">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-instagram-square"></i>
                    <i class="fa-brands fa-twitter-square"></i>
                    <i class="fa-brands fa-youtube-square"></i>
                    <i class="fa-brands fa-whatsapp-square"></i>
                </div>
            </div>

            <div class="column links">
                <h3>Some Links</h3>

                <ul class="footer-ul">

                    <li class="footer-li">
                        <a class="footer-li-a" href="#faq">F.A.Q</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#support">Support</a>
                    </li>
                </ul>

            </div>


            <div class="column links">
                <h3>Some Links</h3>
                <ul class="footer-ul">
                    <li class="footer-li">
                        <a class="footer-li-a" href="#faq">F.A.Q</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li class="footer-li">
                        <a class="footer-li-a" href="#support">Support</a>
                    </li>
                </ul>
            </div>



        </div>

        <div class="row copyright">
            <div class="footer-menu">

                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Blog</a>
                <a href="">Social</a>

            </div>
            <p>Copyright &copy; 2021 Foolish Developer</p>
        </div>
    </footer>

    @RenderSection("js", required: false)

    <script src="~/Main/login-registerjs/login-regitser1.js"></script>
    <!-- Code injected by live-server -->
    <script>
        // <![CDATA[  <-- For SVG support
        if ('WebSocket' in window) {
            (function () {
                function refreshCSS() {
                    var sheets = [].slice.call(document.getElementsByTagName("link"));
                    var head = document.getElementsByTagName("head")[0];
                    for (var i = 0; i < sheets.length; ++i) {
                        var elem = sheets[i];
                        var parent = elem.parentElement || head;
                        parent.removeChild(elem);
                        var rel = elem.rel;
                        if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                        }
                        parent.appendChild(elem);
                    }
                }
                var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                var address = protocol + window.location.host + window.location.pathname + '/ws';
                var socket = new WebSocket(address);
                socket.onmessage = function (msg) {
                    if (msg.data == 'reload') window.location.reload();
                    else if (msg.data == 'refreshcss') refreshCSS();
                };
                if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                    console.log('Live reload enabled.');
                    sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                }
            })();
        }
        else {
            console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
        }
        // ]]>
    </script>
</body>
</html>